# build folders
.vs
.vscode
/build

# test folders and results
/build_c++14
/build_c++17
/build_c++20
/results_c++14
/results_c++17
/results_c++20

# python temp & cache files
/code_gen/__pycache__
/code_gen/ctlepy/__pycache__/*.pyc
/unit_tests/ctlepy_tests/outputs
/pypi_dist/LICENSE
/pypi_dist/README.md
/pypi_dist/dist
/pypi_dist/pyproject.toml
/pypi_dist/setup.cfg
/pypi_dist/src

